.about-container {
  display: flex;
  flex-direction: column;
  max-width: 110rem;
}

.about-text {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
}

.about-text p {
  margin-right: 6rem;
  width: 48rem;
}

.about-text p:last-of-type {
  margin-right: 0;
}

.wave-container {
  overflow: hidden;
  white-space: nowrap;
  margin-top: 4rem;
  opacity: 0.8;
}

.wave-text {
  display: block;
  animation: slide-left 2s steps(8) infinite;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-6.4rem);
  }
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
  .about {
    padding-bottom: 0rem;
  }

  .about-text {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1024px) {
}
