.home {
  border: solid 0.1rem;
  min-height: 88vh;
  margin-top: 1.6rem;
}

.home-title {
  overflow-wrap: break-word;
  font-size: 16vw;
  line-height: 16vw;
  text-align: center;
  letter-spacing: -0.25rem;
  margin: 6rem 0 10rem 0;
}

.home-tagline {
  font-size: 2.4rem;
}

.home-container {
  margin: 0 var(--padding-content);
	margin-bottom: var(--padding-content);
}

.home-loading-container-mobile {
	opacity: 0.8;
}

.home-loading-container-desktop {
  display: none;
	opacity: 0.8;
}

.home-loading-bit {
  display: inline-block;
  opacity: 90%;
  background-color: var(--color-main-bg);
  animation: bit-slide 0.7s steps(4, end) 0s infinite forwards;
}

.home-loading-bit:nth-child(3) {
  margin: 0 2rem;
}

@keyframes bit-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(6.8rem);
  }
}

.home-loading-bar {
  margin-top: 1.2rem;
  display: inline-block;
  width: 1px;
}

.home-text {
  margin-top: 6rem;
}

.home-text p {
  margin: 1.2rem 0;
}

@media only screen and (min-width: 768px) {
  .home-title {
    margin-left: 1.1rem;
  }

  .home-loading-container-mobile {
    display: none;
  }

  .home-loading-container-desktop {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .home-title {
    font-size: var(--font-size-title);
    line-height: var(--font-size-title);
    margin-left: 1.1rem;
  }
}
