.home {
  border: solid 0.1rem;
  height: 90vh;
  margin: 1.6rem;
}

.home-title h1 {
  font-weight: 100;
  font-size: var(--font-size-title);
  width: 100%;
  letter-spacing: -0.25rem;
  text-align: center;
  line-height: 10vw;
}

.home-container {
  margin: 0 var(--padding-content);
  margin-top: 12rem;
}

.home-loading-bit {
  position: absolute;
  opacity: 90%;
  left: 2.8rem;
  background-color: var(--color-main-bg);
  animation: sliding 0.7s steps(4, end) 0s infinite forwards;
}

.home-loading-bit:nth-child(2) {
  left: 9.2rem;
}
.home-loading-bit:nth-child(3) {
  left: 15.6rem;
}

@keyframes sliding {
  0% {
    transform: translateX(calc(var(--padding-content) + 1.2rem));
  }
  100% {
    transform: translateX(calc(var(--padding-content) + 7.6rem));
  }
}

.home-loading-bar {
  margin: 4.2rem 0;
}

.home-text p {
  /* font-weight: 800; */
  margin: 1.2rem 0;
}
