nav {
  box-sizing: border-box;
  pointer-events: none;
  position: fixed;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 98%;
  max-width: var(--width-body);
  top: 1%;
  z-index: 1;
  padding: var(--height-computer-frame) 0rem;
  box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 0.8), 0px 0px 0px 6rem var(--color-computer),
    0px 0px 2px 6.1rem rgb(43, 43, 43);
}

nav:before {
  z-index: 2;
  content: "";
  position: absolute;
  inset: 0;
  padding: var(--height-computer-frame) 0rem;
  background: linear-gradient(
    to bottom right,
    #1b2114 0%,
    #4b4e38 49%,
    #c0baa7 51%,
    #d5d5c7 90%,
    #e3dbd5 100%
  );
  border-radius: inherit;
  mask: conic-gradient(#000 0 0) content-box exclude, conic-gradient(#000 0 0);
}
/* 0.384turn, */

.navbar {
  width: 100%;
}

.scrollbar {
  width: var(--width-scrollbar);
  height: 100%;
  background-color: var(--color-secondary-bg);
  margin-bottom: 1.2rem;
}

.scrollbar-thumb {
  background-color: var(--color-main);
}

.navbar-container {
  box-sizing: border-box;
  display: flex;
  gap: 0.6rem;
  height: var(--navbar-height);
  color: var(--color-main-bg);
  background-color: var(--color-main-bg);
  padding-top: 0.6rem;
  padding-bottom: 1.2rem;
}

.navbar-logo {
  display: flex;
  width: 10rem;
  height: 100%;
  text-align: center;
  background-color: var(--color-main);
}

.navbar-logo span {
  margin: auto;
}

.navbar-bar {
  width: 100%;
  background-color: #9684ff;
}

.navbar-burger {
  all: unset;
  pointer-events: auto;
  cursor: pointer;
  width: 6.8rem;
  text-align: center;
  background-color: var(--color-main);
}

.navbar-menu {
  all: unset;
  display: block;
  list-style-type: none;
  background-color: var(--color-main);
  width: fit-content;
  padding: 0.8rem 1.6rem;
  margin-left: auto;
  box-shadow: 0 0 0 0.6rem var(--color-main-bg);
}

.navbar-menu a {
  display: block;
  pointer-events: auto;
}

.navbar-menu a li {
  display: inline-block;
  /* width: 100%; */
  color: var(--color-secondary-bg);
  text-decoration: none;
}

.navbar-menu a:hover li {
  transform: translate(0.8rem, 0);
}

@media only screen and (min-width: 480px) {
  nav {
    padding: var(--height-computer-frame) var(--width-computer-frame);
    margin: 0 1%;
    width: 98%;
    border-radius: 1rem;
  }

  nav:before {
    padding: var(--height-computer-frame) var(--width-computer-frame);
  }
}

@media only screen and (min-width: 1440px) {
  nav {
    margin: 0;
  }
}
