.navbar {
  position: fixed;
  display: flex;
	align-items: center;
	gap: 0.4rem;
	height: 14.0rem;
  z-index: 1;
  bottom: 0;
  width: 100%;
  color: var(--color-main-bg);
}

.navbar-logo {
	width: 10%;
	text-align: center;
  /* box-sizing: border-box; */
  background-color: var(--color-main);
  /* padding: 1.2rem 2.4rem; */
}

.navbar-bar {
	width: 80%;
	background-color: #9684FF;
}

.navbar-burger {
  all: unset;
	width: 10%;
	text-align: center;
  /* height: 100%; */
  /* aspect-ratio: 1 / 1; */
	background-color: var(--color-main);
}

.navbar-menu {
  /* display: none; */
  box-sizing: border-box;
  list-style-type: none;
  background-color: var(--color-main);
  height: 27.6rem;
  width: 100%;
  padding: 0.8rem 0 3.2rem 0;
  margin-bottom: 0.8rem;
  margin-left: auto;
}

.navbar-menu li {
  text-decoration: none;
  margin-left: 2rem;
  margin-top: 1.6rem;
}
