.project {
  padding-bottom: var(--margin-btwn-sect);
  margin-left: var(--margin-left-sect);
}

.project-container-desktop {
  display: none;
}

@media (min-width: 1024px) {
  .project-container-mobile {
    display: none;
  }

  .project-container-desktop {
    display: flex;
  }

  .project-list-container {
    border-right: 2px dashed rgba(255, 255, 255, 0.2);
    padding-right: 2rem;
  }

  .project-list {
    white-space: nowrap;
  }

  .project-devider {
    width: 6rem;
    word-break: break-word;
    padding: 0 5.2rem;
  }

  .project-preview {
    top: 2rem;
  }

  @keyframes blurReveal {
    0% {
      filter: blur(4px);
    }
    100% {
      filter: blur(0);
    }
  }

  .preview-img-container {
    width: 40rem;
    height: 25rem;
    animation: blurReveal 1s linear;
  }

  @keyframes flashReveal {
    0% {
      filter: brightness(3) saturate(20%) contrast(40%);
    }
    100% {
      filter: brightness(1) saturate(20%) contrast(40%);
    }
  }
  .preview-img {
    animation: flashReveal 1.5s cubic-bezier(0.2, 0.8, 0.2, 1);
    width: 100%;
  }

  .preview-desc {
    position: relative;
    z-index: 1;
    width: 40rem;
    margin-top: -4rem;
  }

  .preview-desc p {
    display: inline;
    background-color: var(--color-main-bg);
    padding: 0.8rem 0;
    padding-right: 1.6rem;
  }
}
