.project-desc {
  margin-left: 4.8rem;
  max-width: 35rem;
}

.img-zoom-container {
  overflow: hidden;
  display: block;
}

.img-zoom-container img {
  opacity: 25%;
  display: block;
  transform-origin: top;
	filter: saturate(20%) contrast(40%);
}

.project-img {
  height: 15rem;
  max-width: 30rem;
}

.project-img img {
  height: 100%;
  width: auto;
  margin: auto;
}

.project-text {
  position: relative;
  margin-top: -4rem;
}

.project-text p {
  display: inline;
  background-color: var(--color-main-bg);
  padding: 0.8rem 0;
  padding-right: 1.6rem;
}
