@import url("https://fonts.googleapis.com/css2?family=Sixtyfour:BLED,SCAN@0..100,-53..100&display=swap");

:root {
  --font-family: "Sixtyfour", sans-serif;
  --font-size-root: 62.5%; /* (10px) for easier rem calculation*/
  --font-size-reguler: 1.6rem; /* (16px) actual font size */
  --font-size-title: 9.4vw;
  --color-main: #a8a3ff;
  --color-main-bg: #1B1A21;
  --color-secondary-bg: #252238;
  --color-light: #cacaca;
  --color-dim: #999999;
  --color-border: #616161;
  --color-btn-bg: #3a484f;
  --width-scrollbar: 2.6rem;
	--padding-content: 5.2rem;
	--margin-around-main: 1.6rem;
  --margin-btwn-sect: -0.6rem;
	--width-body: 1024px;
	--navbar-height: 5.8rem;

  --border: var(--color-border) solid 1px;
  --color-navbar-blur-top: linear-gradient(var(--color-main-bg), #00000000);
  --color-navbar-blur-btm: linear-gradient(to top, var(--color-main-bg), #00000000);
}
