/* --- remove default style --- */

body,
p,
ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
li {
	all: unset;
	font-weight: 100;
  display: block;
}

/* --- apply new default style ---*/

html {
  scroll-behavior: smooth;
  font-family: var(--font-family);
  font-size: var(--font-size-root);
  text-wrap: wrap;
}

body {
  font-size: var(--font-size-reguler);
  color: var(--color-main);
  background: var(--color-main-bg);
  line-height: 2.8rem;
}

main {
	margin-right: calc(var(--width-scrollbar) + 1.6rem);
	margin-left: 1.6rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 3.2rem;
  /* padding-top: 2.6rem; */
  /* margin-bottom: 6rem; */
}

a {
  color: var(--color-main);
}

input[type="text"],
input[type="email"],
textarea {
  font-size: var(--font-size);
  color: var(--color-main);
  background-color: var(--color-secondary-bg);
  border: var(--border);
  padding: 1rem;
}

::placeholder {
  font-family: var(--font-family);
  font-size: 1.2rem;
  color: var(--color-main);
  opacity: 0.5;
}
